.header-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  margin-left: 20px;
}

.background {
  position: absolute;
  width: 462px;
  height: 587.15px;
  left: -34px;
  top: 104px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav h1 {
  color: #6070ff;
  font-family: 'Poppins' Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 18px;
  line-height: 20px;
}

.nav img {
  width: 18px;
  height: 12px;
}

.greetings {
  display: flex;
  justify-content: center;
  font-family: 'Poppins' Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 50px;
  line-height: 52px;
  color: #172b4d;
  width: 327px;
  height: 150px;
  margin-top: 120px;
}

.welcome-message {
  display: flex;
  width: 327px;
  height: 146px;
  justify-content: center;
  font-family: 'Poppins' Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.heading-1 {
  font-family: 'Poppins' Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icon-bar {
  display: flex;
  gap: 20px;
  list-style: none;
  width: 375px;
  height: 540px;
  padding-left: 0;
}
